.details {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    text-align: center;

    .container {
        padding: var(--margin-lg) var(--margin-xl);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: var(--margin-lg) var(--margin-sm);
        margin-top: var(--margin-lg);
    }

    &__info {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        margin-top: calc(0.2 * var(--margin-sm));
    }
}