.forecast-h {
    display: flex;
    gap: var(--margin-lg);
    
    padding: var(--margin-md) 0;
    border-top: 1px solid var(--color-primary);
    overflow-x: scroll;
    
    &__item {
        display: flex;
        flex-direction: column;

        transition: all 1s;
        font-weight: 500;

        & > *:not(:first-child) {
            margin-top: var(--margin-sm);
        }
    }
}