.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: var(--margin-sm) var(--margin-lg);
    position: sticky;
    top: 0;
    z-index: 1000;

    .logo img {
        width: 6rem;
        height: 6rem;
    }

    .theme {
        display: flex;
        border-radius: calc(3 * var(--base-radius));
        overflow: hidden;
        position: relative;
        border: 2px solid var(--color-secondary);
        height: 4rem;

        &__btn {
            border: none;
            background-color: var(--color-tertiary);
            padding: calc(0.5 * var(--margin-sm)) var(--margin-sm);
            line-height: 1;
            
            img {
                height: 2.6rem;
                width: 2.6rem;
            }
        }

        &__ball {
            height: 2.6rem;
            width: 2.6rem;
            border-radius: 50%;
            background-color: var(--color-secondary);
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translate(5.5rem, -50%);
            transition: transform 1s;
        }
    }
}

.search {
    display: flex;
    border-radius: var(--base-radius);
    overflow: hidden;
    height: 4rem;

    &__input {
        width: 30vw;
        padding: 0.6rem 1.2rem;
        border: none;
        font-size: 1.6rem;
        color: var(--color-primary);
        background-color: var(--color-tertiary);
    }

    &__input::placeholder {
        color: var(--color-primary);
        opacity: 0.5;
    }

    &__submit {
        font-size: 1.8rem;
        border: none;
        padding: 0.6rem 1.2rem;
        background-color: var(--color-secondary);
        color: #fff;
    }
}