@media (max-width: 54em) {
    .weather {
        .container {
            flex-direction: column;
            gap: var(--margin-lg);
            
            padding: 0 var(--margin-lg);
        }
    }

    .forecast-h {
        width: 100%;
    }

    .forecast-d {
        div {
            text-align: center;
        }
    }
}

@media (max-width: 48em) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 40.5em) {
    .forecast-h img {
        width: 6rem;
        height: 6rem;
    }

    .details {
        .container {
            padding: var(--margin-lg) var(--margin-lg);
        }
    }

    .forecast-d {
        &__list {
            padding: 0 var(--margin-md);
        }
    }
}

@media (max-width: 35.6em) {
    .details {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 30em) {
    .header {
        padding: var(--margin-sm);

        .logo img {
            width: 5rem;
            height: 5rem;
        }
    }
    
    .details {
        .container {
            padding: var(--margin-lg) var(--margin-lg);
        }
    }

    .forecast-d {
        &__info {
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 26.5em) {
    .forecast-h {
        overflow: hidden;
        border: none;

        flex-wrap: wrap;
        justify-content: center;
        gap: 0;

        &__item {
            border: 1px solid var(--color-primary);
            padding: var(--margin-sm);
        }
    }

    .weather {
        .container {
            flex-direction: column;

            padding: 0 var(--margin-sm);
        }
    }

    .forecast-d {
        &__item-headings, &__item {
            grid-template-columns: repeat(4, 1fr);
        }

        .heading-tertiary {
            font-size: 1.4rem;
        }

        &__info {
            font-size: 1.6rem;
        }
        
        &__info, .heading-tertiary {
            &:nth-child(3) {
                display: none;
            }
        }

        .img {
            width: 6rem;
            height: 6rem;
        }
    }
}

@media (max-width: 22em) {
    .forecast-d {
        &__item-headings, &__item {
            grid-template-columns: repeat(3, 1fr);
        }

        &__info, .heading-tertiary {
            &:nth-child(4) {
                display: none;
            }
        }
    }
}